<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="img/huella.png">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <title>Recomendaciones</title>

        <link rel="stylesheet" href="css/recomendaciones.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="hero">
            <div class="hero__pic">
                <h1 class="title">Recomendaciones para disminuir la <b>huella de carbono</b></h1>
                <div class="bottom-btn" id="scroll-btn">
                    <i id='arrow' class="btn-arrow bi bi-chevron-down"></i>
                </div>
            </div>
        </section>

        <section class="recomendaciones">
        
            <h1>Recomendaciones</h1>

            <div class="rec-panel-f container-fluid">
                <div class="rec-panel-s row row-cols-1 row-cols-sm-2 row-cols-md-5">
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-1.jpg" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-2.png" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-3.png" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-4.png" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-5.webp" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-6.jpg" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-7.jpg" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-8.png" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-9.jpg" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                    <div class="col recomendation">
                        <div class="recomendation-det">
                            <img src="img/recomendaciones/rec-10.jpg" id="rec-1" class="img-fluid recomendacion" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Recomendacion para disminuir la huella de carbono</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor eget velit sed faucibus. Sed ut turpis nunc. Morbi nec ornare purus, quis mollis dolor. Morbi luctus justo eget neque lobortis, vitae hendrerit mauris aliquet. Vivamus eget felis sit amet nisi sagittis feugiat sed non enim. Phasellus vulputate diam consequat efficitur feugiat. Nunc sit amet sodales sapien. Mauris sollicitudin justo vel urna pretium, id convallis quam convallis. Mauris pulvinar sapien in consectetur consequat. In mattis ex nec mauris tincidunt, eget mollis turpis posuere.</p>
                        <p>Aenean in sagittis lacus. Sed orci ante, porta id mattis id, porta et tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ac magna sagittis, malesuada sem et, euismod quam. Nulla ut nisi dui. Nunc venenatis nunc rhoncus blandit commodo. Fusce ut velit ex. Vivamus lacinia diam vel sem placerat laoreet. Vivamus eleifend ligula quis augue pretium, id vestibulum enim congue. Pellentesque vel ipsum ligula.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
          

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type='text/javascript' src="js/recomendaciones.js"></script>

    </body>
</html>